body{
  margin: 0;
  padding: 0;
  
  font-family: Arial;
  background-image: url(../../Img/fondoprueba3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial;
 }
 body:before {
   content: "";
   width: 100%;
   min-height: 100vh;
   height: 100%;
   position:absolute;
   top: 0;
   left: 0;
   background: linear-gradient(90deg, gray,white);
   opacity: 0.8;
   z-index: -1;
 }
  

#login{
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 80px;
  background:#b2bdbf;
  border-radius: 15px;
}

h2{
  text-align: center;
  color: white;
  padding: 20px;
}

label{
  color: black;
  font-size: 17px;
}



#log:hover{
  background: gold;
}

#Uname:focus{
  outline: 3px solid gold;
}

#Pass:focus{
  outline: 3px solid gold;
}

#Uname{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

#Pass{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 10px;
}

#log{
  width: 300px;
  height: 30px;
  border:none;
  border-radius: 17px;
  padding-left: 7px;
  color:white;
  background: green;
  font-weight: bold;
  font-size: 15px;
}

#cerrar{
  text-decoration:none; 
  font-weight:bold; 
  color:white; 
  font-size:15px; 
  background-color:#f44336; 
  padding: 14px 25px; 
  display:inline-block; 
  text-align:center;
  border:none;
  border-radius:17px;
}

#cerrar:hover{
  background: gold;
}
